<!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Navbar and logo -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/postboard-mini3.jpg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome to PostBoard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Delete home and categories, only have logo, Welcome to PostBoard, and searchbar in the navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="categories">Categories</a>
        </li> -->
      </ul>
      <!-- <div>
        <form (ngSubmit) = "categorySearch()">
          <input type="text" ng-module="searchBox" [(ngModel)]="searchBar" name="searchBox" placeholder="Search Category Name">
          <button type="submit">Search</button>
      </form>
      </div> -->
    </div>
  </div>
</nav> -->