.cathead {
    margin: auto;
    text-align: center;
    width: 65%;
    background-color: rgb(170, 230, 238);
    padding: 1em;
}

form {
    text-align: center;
}

.bigcatdiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid rgb(171, 171, 255); */
}
.tiscription {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    /* border: 3px solid burlywood;
    border-radius: 5%; */
    margin: 1em ;
    padding:1em;
    background-color: rgb(170, 230, 238);
    width: 15em;
    min-height: 5em;
    border-radius: 5px;
}

#title {
    background-color: aliceblue;
    padding: 5px 25% 5px 10px;
    border-radius: 10px;
}

#desc {
    background-color: aliceblue;
    margin-top: 5px;
    padding: 5px 25% 5px 10px;
    border-radius: 10px;
}

#viewBtn {
    margin-top: 5px;
}