.body {
    background-color: rgb(243, 243, 243);
}

.cathead {
    margin: auto;
    text-align: center;
    width: 65%;
    background-color: rgb(170, 230, 238);
    padding: 1em;
    border: solid;
    border-radius: 5px;
    border-color: black;
}

form {
    text-align: center;
}

.bigcatdiv {
    /* background-color: white;
    border-radius: 50px;
    padding-top: 45px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    max-width: 1500px;
    /* border: 2px solid rgb(171, 171, 255); */
}

.tiscription {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 1em ;
    padding:1em;
    background-color: rgb(170, 230, 238);
    width: 15em;
    min-height: 5em;
    border: solid;
    border-radius: 5px;
    border-color: black;
}

/* #title {
    background-color: white;
    padding: 5px 25% 5px 10px;
    border-radius: 5px;
}

#desc {
    background-color: white;
    margin-top: 5px;
    padding: 5px 25% 5px 10px;
    border-radius: 5px; 
}  

#viewBtn {
    margin-top: 5px;
    justify-content: center;
} */