
<!-- icon loaded from w3school for search button -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- code taken from w3school for search button; need to be customized!!-->
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search Category Name" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<!-- comment back in when the categories is connected to database!! -->
<!-- <p> {{ categories}} </p> -->
<li *ngFor="let category of categories">
    {{ category.title }}
    {{ category.description }}
</li>
