<h2>Welcome To PostBoard</h2>

<!-- Search Bar code for categories for front end. Need in back end -->

<form (ngSubmit) = "categorySearch()">
    <input type="text" ng-module="searchBox" [(ngModel)]="searchBar" name="searchBox" placeholder="Search Category Name">
    <button type="submit">Search</button>
</form>
<br>

<!-- adding in the | filter: searchbox to the ngFor; seeing if it connects to the search box -->

<li *ngFor="let category of categories" >
    {{ category.title }}
    {{ category.description }}
</li>
