<div class="div-form">
<h3 style="text-align: center; width: 90%; ">Can't find the category you're looking for? MAKE IT!</h3>
<form (ngSubmit)='onSubmit()' style="margin: 1em;">
<div>
    <label for="title" ></label>
    <input type="text" class="input" placeholder="New Category Title" id="title" name="title" required [(ngModel)]="model.title" />
</div>
<div>
    <label for="desctiption"></label>
    <textarea type="text" class="input" placeholder="Fill in your glorious description of your soon-to-be-created category right here! the category will appear in the list of categories, and then you can go make your first post!"  style="width: 80%; height: 20%;"></textarea>
</div>
<div>
    <button type="submit" onClick="window.location.reload();">Create Category</button>
</div>
</form>
</div>