<form (ngSubmit)='onSubmit()'>
<div>
    <label for="title">New Category Title:</label>
    <input type="text" placeholder="avalanche enthusiests" id="title" name="title" required [(ngModel)]="model.title" />
</div>

<div>
    <label for="desctiption">Describe Your Category!</label>
    <textarea type="text" placeholder="An online group where you can post everything you love about avalanches! avalance horror stories, avalance photos, stories about avalance survivors, etc. Tell us about how you protect your mountain-side home from avalanches, or give us tips on how to vaoid being caught in one! (Rock slide enthusiests are NOT allowed in this community, unless you are also an avalanche enthusiest.)" id="description" name="description" required [(ngModel)]="model.description" ></textarea>
</div>
<div>
    <button type="submit">Create Category</button>
</div>
</form>