<!-- switch the searchbar code into App component code from the categories component -->

<div class="flex-container">
    <img src="/assets/postboard-mini3.jpg">
    <div class="welcome">Welcome to PostBoard!</div>
    <form class="search" (ngSubmit) = "categorySearch()">
        <input type="text" ng-module="searchBox" [(ngModel)]="searchBar" name="searchBox" placeholder="Search Category Name">
        <button type="submit">Search</button>
    </form>
</div>

<!-- <app-categories></app-categories> -->
<router-outlet></router-outlet>
