.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
}

img {
    padding: .5em;
}

.welcome {
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.search {
    padding: 2.5em;
}