<!-- switch the searchbar code into App component code from the categories component -->

<div class="flex-container">
    <img src="/assets/postboard-mini3.jpg">
    <p class="welcome">Welcome to PostBoard!</p>
    <form class="search" (ngSubmit) = "categorySearch()">
        <input type="text" ng-module="searchBox" [(ngModel)]="searchBar" name="searchBox" placeholder="Search Category Name">
        <button type="submit">Search</button>
    </form>
</div>

<app-categories></app-categories>
<app-category-form></app-category-form>

<!-- I placed it here so that we coud design it and then place it where it needs to be -->
<app-post-form></app-post-form>
<router-outlet></router-outlet>
